name: Branch Based CI/CD

on:
  push:
    branches: [dev, staging, main]

jobs:
  build-app:
    uses: ./.github/workflows/common-build.yml
    with:
      app_name: "my-app"

  deploy-dev:
    runs-on: ubuntu-latest
    needs: build-app
    if: github.ref == 'refs/heads/dev'
    steps:
      - name: Deploy to Dev
        run: echo "Deploying to DEV environment"

  deploy-staging:
    runs-on: ubuntu-latest
    needs: build-app
    if: github.ref == 'refs/heads/staging'
    steps:
      - name: Deploy to Staging
        run: echo "Deploying to STAGING environment"

  deploy-prod:
    runs-on: ubuntu-latest
    needs: build-app
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to Production
        run: echo "Deploying to PRODUCTION environment"
